In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import lxml.html as lh
import re
import json

In [2]:
states= pd.read_csv('../csv/states.csv')
states=states.rename(columns={"State.1": "StateAbv"}).reset_index(drop=True)
# Just to be sure no spaces remain in column for merge!!! 
states.StateAbv = states.StateAbv.str.strip()
# states.convert_dtypes()
states.head()

        State StateAbv State Capital Region
0     Alabama       AL    Montgomery  South
1      Alaska       AK        Juneau   West
2     Arizona       AZ       Phoenix   West
3    Arkansas       AR   Little Rock  South
4  California       CA    Sacramento   West

In [3]:
state =states["StateAbv"]
nat_park=[]  #This is where it all winds up

for name in state:
    st_park = {} # will be a dict of lists of all st parks- resets on each loop   
    
    url=f'https://stateparks.com/{name}.html'
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    results= soup.find('div', id="overview")
    body = results.find_all('div', style="display:inline-block;")
    
    for row_num in range(len(body)): 
        park = [] # this will hold entries for one park- resets each loop
        for row_item in body[row_num]:
            aa = re.sub("(\xa0)|(\n)|,|•| |''"," ",row_item.text)
            #remove opening blank before some entries
            aa= aa.lstrip(' ')
        
            #assign value to the parks where there is just one, scraping give an empty value
            if aa == '':
                aa = '1'
            #beacuse of web formatting, some parks had empty rows at the front
            if len(park) >1:
                del park[0]  
            park.append(aa)
            # from here park is a 2 item list
            
        def Convert(a):#This will create a dictionary per park with its count 
            #First create an iterator, and initialize it to variable ‘it’
            it = iter(a)
            #Then use zip method, to zip keys and values together. 
            #Finally typecast it to dict type. 
            res_dct = dict(zip(it, it))
            #flip the key value pair so type comes before count
            res_dct2= {v: k for k,v in res_dct.items()}
            #then take that and convert all values to int
            res_dct3 ={str(k):int(v) for k,v in res_dct2.items()}
            return res_dct3
        
        #send park to the Convert function 
        park_dict = Convert(park)
        #add park to state park list     
        st_park.update(park_dict)
  # add state park list of individual park dicts to nationl parks list which becomes our df 
    nat_park.append(st_park)

In [4]:
st_park

{'National Memorial': 1, 'National Historic Sites': 2}

In [5]:
df=pd.DataFrame(nat_park)

df.dtypes

State Parks                        float64
State Forests                      float64
State Wildlife Management Areas    float64
National Park                      float64
National Forests                   float64
                                    ...
State Nursery                      float64
State Preserve                     float64
State Scenic Rivers                float64
State Fishery Areas                float64
Trail                              float64
Length: 61, dtype: object

In [6]:
df = df.fillna(0)

In [7]:
# df = df.apply(pd.to_numeric, downcast='integer')
df = df.astype(int, errors='ignore')

In [8]:
df
df["AllParks"]=  df.sum(axis=1)

In [9]:
df['park_rank'] = df['AllParks'].rank(method='max', na_option='bottom').astype(int)
df

,State Parks,State Forests,State Wildlife Management Areas,National Park,National Forests,National Historic Sites,National Historic Park,National Monuments,National Wildlife Refuges,National Parks,...,National Seashores,Army Corps of Engineers,State Nature Preserves,State Nursery,State Preserve,State Scenic Rivers,State Fishery Areas,Trail,AllParks,park_rank
0,24,3,4,1,4,2,1,2,10,0,...,0,0,0,0,0,0,0,0,51,19
1,4,0,0,0,2,0,0,2,22,2,...,0,0,0,0,0,0,0,0,42,12
2,16,0,0,0,8,0,0,9,7,4,...,0,0,0,0,0,0,0,0,57,24
3,36,0,12,1,3,3,0,0,9,0,...,0,0,0,0,0,0,0,0,71,33
4,109,6,0,0,19,3,0,5,31,9,...,0,0,0,0,0,0,0,0,235,51
5,6,2,0,0,11,0,0,0,4,3,...,0,0,0,0,0,0,0,0,36,11
6,53,25,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,81,38
7,15,2,3,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,23,5
8,114,5,0,0,3,0,0,0,20,3,...,0,0,0,0,0,0,0,0,190,50
9,53,0,0,0,2,0,0,0,9,0,...,0,0,0,0,0,0,0,0,89,41
10,10,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,15,2
11,23,0,0,1,10,0,1,0,6,0,...,0,0,0,0,0,0,0,0,54,21
12,69,6,0,0,0,2,0,0,3,0,...,0,0,0,0,0,0,0,0,118,45
13,26,15,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,68,32
14,63,5,7,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,84,40
15,31,0,3,1,0,4,0,0,3,0,...,0,0,0,0,0,0,0,0,74,34
16,38,3,0,1,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,59,27
17,20,0,9,0,0,0,1,0,8,2,...,0,0,0,0,0,0,0,0,46,15
18,34,0,0,1,0,0,0,0,8,0,...,0,0,0,0,0,0,0,0,43,13
19,37,5,6,0,0,0,1,0,4,4,...,0,0,0,0,0,0,0,0,59,27
20,24,38,0,1,0,6,0,0,4,0,...,0,0,0,0,0,0,0,0,78,36
21,74,12,0,0,4,0,1,0,4,2,...,0,0,0,0,0,0,0,0,101,42
22,52,11,9,1,2,0,0,0,6,0,...,0,0,0,0,0,0,0,0,81,38
23,23,0,8,0,6,0,0,0,9,0,...,0,0,0,0,0,0,0,0,50,17
24,38,7,6,0,0,2,0,0,5,0,...,0,0,0,0,0,0,0,0,83,39
25,38,0,0,0,10,2,0,0,9,2,...,0,0,0,0,0,0,0,0,65,31
26,9,0,11,0,2,0,0,2,6,0,...,0,0,0,0,0,0,0,0,32,10
27,20,0,3,1,7,0,0,0,9,0,...,0,0,0,0,0,0,0,0,46,15
28,20,5,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,28,8
29,34,11,0,0,0,0,1,0,5,2,...,0,0,0,0,0,0,0,0,57,24
30,28,0,0,0,5,0,0,3,8,3,...,0,0,0,0,0,0,0,0,61,28
31,89,3,0,1,0,5,1,4,5,0,...,0,0,0,0,0,0,0,0,112,44
32,35,2,0,0,4,2,0,0,8,2,...,2,1,0,0,0,0,0,0,59,27
33,7,0,0,0,0,2,0,0,16,0,...,0,0,0,0,0,0,0,0,27,7
34,77,17,0,1,0,0,0,0,3,0,...,0,0,4,0,0,0,0,0,146,47
35,35,0,2,0,0,2,0,0,4,0,...,0,0,0,0,0,0,0,0,63,30
36,111,3,0,1,14,0,0,2,16,0,...,0,0,0,1,0,0,0,0,162,48
37,111,19,0,1,0,5,0,0,0,0,...,0,0,0,0,0,0,0,0,145,46
38,9,0,0,1,0,0,0,0,4,0,...,0,0,0,0,0,0,0,0,16,3
39,40,4,0,0,0,2,0,0,5,2,...,0,0,0,0,1,0,0,0,56,22
40,15,0,0,0,0,0,0,0,4,2,...,0,0,0,0,0,0,0,0,25,6
41,31,10,3,1,0,0,1,0,8,0,...,0,0,0,0,0,3,0,0,62,29
42,76,2,0,0,4,0,1,0,10,3,...,0,0,0,0,0,0,0,0,107,43
43,29,0,0,0,4,2,0,4,2,5,...,0,0,0,0,0,0,0,0,52,20
44,12,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,22,4
45,24,5,2,0,2,2,0,2,0,7,...,0,0,0,0,0,0,0,0,51,19
46,131,2,0,0,7,3,0,0,17,3,...,0,0,0,0,0,0,0,0,181,49
47,29,9,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,47,16
48,42,8,3,0,2,0,0,0,5,0,...,0,0,0,0,0,0,3,1,75,35
49,13,0,0,0,5,2,0,0,4,2,...,0,0,0,0,0,0,0,0,29,9
50,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,3,1

In [10]:
#join statedata to park data 
park_dicts= df.join(states)
#reorder columns to make state easier to find in json
park_dicts = park_dicts[['State',
       'StateAbv', 'State Capital', 'Region','AllParks','park_rank','State Parks', 'State Forests', 'State Wildlife Management Areas',
       'National Park', 'National Forests', 'National Historic Sites',
       'National Historic Park', 'National Monuments',
       'National Wildlife Refuges', 'National Parks',
       'National Historic Parks', 'National Recreation Trail',
       'National Park and Preserves', 'State Recreation Area',
       'State Historic Site', 'State Fish Hatchery', 'State Wildlife Area',
       'National Memorial', 'National Historic Site', 'National Wildlife Area',
       'National Recreation Area', 'National Recreation Trails',
       'Metro and City Parks', 'State Forest', 'State Fish Hatcherys',
       'State Natural Area', 'State Recreation Areas',
       'State Historic Sites', 'State Nature Preserve', 'State Reserves',
       'State Wildlife Areas', 'National Recreation Areas',
       'National Seashore', 'National Park and Preserve',
       'National Historic Landmark', 'National Monument', 'State Memorial',
       'State Preserves', 'National Memorials',
       'State Wildlife Management Area', 'State Wildlife Refuge',
       'Army Corps of Engineerss', 'Metro and City Parkss',
       'State Memorials', 'State Natural Areas', 'National Forest',
       'State Fishing Area', 'National Wildlife Refuge', 'State Reserve',
       'State Airport', 'National Historic Landmarks',
       'National Wilderness Areas', 'National Natural Area',
       'National Seashores', 'Army Corps of Engineers',
       'State Nature Preserves', 'State Nursery', 'State Preserve',
       'State Scenic Rivers', 'State Fishery Areas', 'Trail']]
park_dicts

,State,StateAbv,State Capital,Region,AllParks,park_rank,State Parks,State Forests,State Wildlife Management Areas,National Park,...,National Wilderness Areas,National Natural Area,National Seashores,Army Corps of Engineers,State Nature Preserves,State Nursery,State Preserve,State Scenic Rivers,State Fishery Areas,Trail
0,Alabama,AL,Montgomery,South,51,19,24,3,4,1,...,0,0,0,0,0,0,0,0,0,0
1,Alaska,AK,Juneau,West,42,12,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Arizona,AZ,Phoenix,West,57,24,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arkansas,AR,Little Rock,South,71,33,36,0,12,1,...,0,0,0,0,0,0,0,0,0,0
4,California,CA,Sacramento,West,235,51,109,6,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Colorado,CO,Denver,West,36,11,6,2,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Connecticut,CT,Hartford,Northeast,81,38,53,25,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Delaware,DE,Dover,Northeast,23,5,15,2,3,0,...,0,0,0,0,0,0,0,0,0,0
8,Florida,FL,Tallahassee,South,190,50,114,5,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Georgia,GA,Atlanta,South,89,41,53,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Hawaii,HI,Honolulu,West,15,2,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Idaho,ID,Boise,West,54,21,23,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,Illinois,IL,Springfield,Midwest,118,45,69,6,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Indiana,IN,Indianapolis,Midwest,68,32,26,15,0,1,...,0,0,0,0,0,0,0,0,0,0
14,Iowa,IA,Des Moines,Midwest,84,40,63,5,7,0,...,0,0,0,0,0,0,0,0,0,0
15,Kansas,KS,Topeka,Midwest,74,34,31,0,3,1,...,0,0,0,0,0,0,0,0,0,0
16,Kentucky,KY,Frankfort,South,59,27,38,3,0,1,...,0,0,0,0,0,0,0,0,0,0
17,Louisiana,LA,Baton Rouge,South,46,15,20,0,9,0,...,0,0,0,0,0,0,0,0,0,0
18,Maine,ME,Augusta,Northeast,43,13,34,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,Maryland,MD,Annapolis,Northeast,59,27,37,5,6,0,...,0,0,0,0,0,0,0,0,0,0
20,Massachusetts,MA,Boston,Northeast,78,36,24,38,0,1,...,0,0,0,0,0,0,0,0,0,0
21,Michigan,MI,Lansing,Midwest,101,42,74,12,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Minnesota,MN,St. Paul,Midwest,81,38,52,11,9,1,...,0,0,0,0,0,0,0,0,0,0
23,Mississippi,MS,Jackson,South,50,17,23,0,8,0,...,0,0,0,0,0,0,0,0,0,0
24,Missouri,MO,Jefferson City,Midwest,83,39,38,7,6,0,...,0,0,0,0,0,0,0,0,0,0
25,Montana,MT,Helena,West,65,31,38,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Nebraska,NE,Lincoln,Midwest,32,10,9,0,11,0,...,0,0,0,0,0,0,0,0,0,0
27,Nevada,NV,Carson City,West,46,15,20,0,3,1,...,0,0,0,0,0,0,0,0,0,0
28,New Hampshire,NH,Concord,Northeast,28,8,20,5,0,1,...,0,0,0,0,0,0,0,0,0,0
29,New Jersey,NJ,Trenton,Northeast,57,24,34,11,0,0,...,0,0,0,0,0,0,0,0,0,0
30,New Mexico,NM,Santa Fe,West,61,28,28,0,0,0,...,3,1,0,0,0,0,0,0,0,0
31,New York,NY,Albany,Northeast,112,44,89,3,0,1,...,0,0,0,0,0,0,0,0,0,0
32,North Carolina,NC,Raleigh,South,59,27,35,2,0,0,...,0,0,2,1,0,0,0,0,0,0
33,North Dakota,ND,Bismarck,Midwest,27,7,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Ohio,OH,Columbus,Midwest,146,47,77,17,0,1,...,0,0,0,0,4,0,0,0,0,0
35,Oklahoma,OK,Oklahoma City,South,63,30,35,0,2,0,...,0,0,0,0,0,0,0,0,0,0
36,Oregon,OR,Salem,West,162,48,111,3,0,1,...,0,0,0,0,0,1,0,0,0,0
37,Pennsylvania,PA,Harrisburg,Northeast,145,46,111,19,0,1,...,0,0,0,0,0,0,0,0,0,0
38,Rhode Island,RI,Providence,Northeast,16,3,9,0,0,1,...,0,0,0,0,0,0,0,0,0,0
39,South Carolina,SC,Columbia,South,56,22,40,4,0,0,...,0,0,0,0,0,0,1,0,0,0
40,South Dakota,SD,Pierre,Midwest,25,6,15,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Tennessee,TN,Nashville,South,62,29,31,10,3,1,...,0,0,0,0,0,0,0,3,0,0
42,Texas,TX,Austin,South,107,43,76,2,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Utah,UT,Salt Lake City,West,52,20,29,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Vermont,VT,Montpelier,Northeast,22,4,12,7,0,0,...,0,0,0,0,0,0,0,0,0,0
45,Virginia,VA,Richmond,South,51,19,24,5,2,0,...,0,0,0,0,0,0,0,0,0,0
46,Washington,WA,Olympia,West,181,49,131,2,0,0,...,0,0,0,0,0,0,0,0,0,0
47,West Virginia,WV,Charleston,South,47,16,29,9,0,1,...,0,0,0,0,0,0,0,0,0,0
48,Wisconsin,WI,Madison,Midwest,75,35,42,8,3,0,...,0,0,0,0,0,0,0,0,3,1
49,Wyoming,WY,Cheyenne,West,29,9,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0
50,District of Columbia,DC,Washington,Northeast,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#have to sort the df by state name or the loop in json append does not work
park_dict=park_dicts.sort_values('State')

park_dict

,State,StateAbv,State Capital,Region,AllParks,park_rank,State Parks,State Forests,State Wildlife Management Areas,National Park,...,National Wilderness Areas,National Natural Area,National Seashores,Army Corps of Engineers,State Nature Preserves,State Nursery,State Preserve,State Scenic Rivers,State Fishery Areas,Trail
0,Alabama,AL,Montgomery,South,51,19,24,3,4,1,...,0,0,0,0,0,0,0,0,0,0
1,Alaska,AK,Juneau,West,42,12,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Arizona,AZ,Phoenix,West,57,24,16,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arkansas,AR,Little Rock,South,71,33,36,0,12,1,...,0,0,0,0,0,0,0,0,0,0
4,California,CA,Sacramento,West,235,51,109,6,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Colorado,CO,Denver,West,36,11,6,2,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Connecticut,CT,Hartford,Northeast,81,38,53,25,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Delaware,DE,Dover,Northeast,23,5,15,2,3,0,...,0,0,0,0,0,0,0,0,0,0
50,District of Columbia,DC,Washington,Northeast,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Florida,FL,Tallahassee,South,190,50,114,5,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Georgia,GA,Atlanta,South,89,41,53,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Hawaii,HI,Honolulu,West,15,2,10,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Idaho,ID,Boise,West,54,21,23,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,Illinois,IL,Springfield,Midwest,118,45,69,6,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Indiana,IN,Indianapolis,Midwest,68,32,26,15,0,1,...,0,0,0,0,0,0,0,0,0,0
14,Iowa,IA,Des Moines,Midwest,84,40,63,5,7,0,...,0,0,0,0,0,0,0,0,0,0
15,Kansas,KS,Topeka,Midwest,74,34,31,0,3,1,...,0,0,0,0,0,0,0,0,0,0
16,Kentucky,KY,Frankfort,South,59,27,38,3,0,1,...,0,0,0,0,0,0,0,0,0,0
17,Louisiana,LA,Baton Rouge,South,46,15,20,0,9,0,...,0,0,0,0,0,0,0,0,0,0
18,Maine,ME,Augusta,Northeast,43,13,34,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,Maryland,MD,Annapolis,Northeast,59,27,37,5,6,0,...,0,0,0,0,0,0,0,0,0,0
20,Massachusetts,MA,Boston,Northeast,78,36,24,38,0,1,...,0,0,0,0,0,0,0,0,0,0
21,Michigan,MI,Lansing,Midwest,101,42,74,12,0,0,...,0,0,0,0,0,0,0,0,0,0
22,Minnesota,MN,St. Paul,Midwest,81,38,52,11,9,1,...,0,0,0,0,0,0,0,0,0,0
23,Mississippi,MS,Jackson,South,50,17,23,0,8,0,...,0,0,0,0,0,0,0,0,0,0
24,Missouri,MO,Jefferson City,Midwest,83,39,38,7,6,0,...,0,0,0,0,0,0,0,0,0,0
25,Montana,MT,Helena,West,65,31,38,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,Nebraska,NE,Lincoln,Midwest,32,10,9,0,11,0,...,0,0,0,0,0,0,0,0,0,0
27,Nevada,NV,Carson City,West,46,15,20,0,3,1,...,0,0,0,0,0,0,0,0,0,0
28,New Hampshire,NH,Concord,Northeast,28,8,20,5,0,1,...,0,0,0,0,0,0,0,0,0,0
29,New Jersey,NJ,Trenton,Northeast,57,24,34,11,0,0,...,0,0,0,0,0,0,0,0,0,0
30,New Mexico,NM,Santa Fe,West,61,28,28,0,0,0,...,3,1,0,0,0,0,0,0,0,0
31,New York,NY,Albany,Northeast,112,44,89,3,0,1,...,0,0,0,0,0,0,0,0,0,0
32,North Carolina,NC,Raleigh,South,59,27,35,2,0,0,...,0,0,2,1,0,0,0,0,0,0
33,North Dakota,ND,Bismarck,Midwest,27,7,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,Ohio,OH,Columbus,Midwest,146,47,77,17,0,1,...,0,0,0,0,4,0,0,0,0,0
35,Oklahoma,OK,Oklahoma City,South,63,30,35,0,2,0,...,0,0,0,0,0,0,0,0,0,0
36,Oregon,OR,Salem,West,162,48,111,3,0,1,...,0,0,0,0,0,1,0,0,0,0
37,Pennsylvania,PA,Harrisburg,Northeast,145,46,111,19,0,1,...,0,0,0,0,0,0,0,0,0,0
38,Rhode Island,RI,Providence,Northeast,16,3,9,0,0,1,...,0,0,0,0,0,0,0,0,0,0
39,South Carolina,SC,Columbia,South,56,22,40,4,0,0,...,0,0,0,0,0,0,1,0,0,0
40,South Dakota,SD,Pierre,Midwest,25,6,15,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,Tennessee,TN,Nashville,South,62,29,31,10,3,1,...,0,0,0,0,0,0,0,3,0,0
42,Texas,TX,Austin,South,107,43,76,2,0,0,...,0,0,0,0,0,0,0,0,0,0
43,Utah,UT,Salt Lake City,West,52,20,29,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44,Vermont,VT,Montpelier,Northeast,22,4,12,7,0,0,...,0,0,0,0,0,0,0,0,0,0
45,Virginia,VA,Richmond,South,51,19,24,5,2,0,...,0,0,0,0,0,0,0,0,0,0
46,Washington,WA,Olympia,West,181,49,131,2,0,0,...,0,0,0,0,0,0,0,0,0,0
47,West Virginia,WV,Charleston,South,47,16,29,9,0,1,...,0,0,0,0,0,0,0,0,0,0
48,Wisconsin,WI,Madison,Midwest,75,35,42,8,3,0,...,0,0,0,0,0,0,0,0,3,1
49,Wyoming,WY,Cheyenne,West,29,9,13,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
park_dict.to_csv("../csv/all_parks.csv", index=False)

In [13]:
park_dict.to_json(r'../json/all_parks.json',orient="records")