In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import lxml.html as lh
import re
import json

In [2]:
crime= pd.read_csv('../../Data Collection/Raw Data Files/crime_data.csv')
crime.head()

        state  center_latitude  center_longitude
0     Alabama          32.7794          -86.8287
1      Alaska          64.0685         -152.2782
2     Arizona          34.2744         -111.6602
3    Arkansas          34.8938          -92.4426
4  California          37.1841         -119.4696

In [3]:
crime.to_json(r'../json/crime.json', orient="records")