In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import lxml.html as lh
import re
import json

In [2]:
crime= pd.read_csv('../../Data Collection/Raw Data Files/crime_data.csv')
crime.head()

        State state_abv State Capital Region   Crime
0     Alabama        AL    Montgomery  South   22322
1      Alaska        AK        Juneau   West    6126
2     Arizona        AZ       Phoenix   West   35980
3    Arkansas        AR   Little Rock  South   20363
4  California        CA    Sacramento   West  174026

In [4]:
crime['crime_rank'] = crime['Crime'].rank(method='max', na_option='bottom', ascending = False).astype(int)
crime

             State state_abv   State Capital     Region   Crime  crime_rank
0          Alabama        AL      Montgomery      South   22322          20
1           Alaska        AK          Juneau       West    6126          39
2          Arizona        AZ         Phoenix       West   35980          12
3         Arkansas        AR     Little Rock      South   20363          22
4       California        CA      Sacramento       West  174026           1
5         Colorado        CO          Denver       West   24570          16
6      Connecticut        CT        Hartford  Northeast    6459          37
7         Delaware        DE           Dover  Northeast    4262          43
8          Florida        FL     Tallahassee      South   83368           3
9          Georgia        GA         Atlanta      South   42850          10
10          Hawaii        HI        Honolulu       West    3576          44
11           Idaho        ID           Boise       West    4432          42
12        Illinois        IL     Springfield    Midwest   53612           5
13         Indiana        IN    Indianapolis    Midwest   24161          18
14            Iowa        IA      Des Moines    Midwest    9601          33
15          Kansas        KS          Topeka    Midwest   12385          30
16        Kentucky        KY       Frankfort      South   11600          32
17       Louisiana        LA     Baton Rouge      South   29704          14
18           Maine        ME         Augusta  Northeast    1466          48
19        Maryland        MD       Annapolis  Northeast   24215          17
20   Massachusetts        MA          Boston  Northeast   21288          21
21        Michigan        MI         Lansing    Midwest   47641           7
22       Minnesota        MN        St. Paul    Midwest   15698          28
23     Mississippi        MS         Jackson      South    8638          34
24        Missouri        MO  Jefferson City    Midwest   33385          13
25         Montana        MT          Helena       West    5077          40
26        Nebraska        NE         Lincoln    Midwest    6473          36
27          Nevada        NV     Carson City       West   14445          29
28   New Hampshire        NH         Concord  Northeast    2000          47
29      New Jersey        NJ         Trenton  Northeast   17353          26
30      New Mexico        NM        Santa Fe       West   16393          27
31        New York        NY          Albany  Northeast   70339           4
32  North Carolina        NC         Raleigh      South   44451           9
33    North Dakota        ND        Bismarck    Midwest    2518          45
34            Ohio        OH        Columbus    Midwest   36104          11
35        Oklahoma        OK   Oklahoma City      South   18255          24
36          Oregon        OR           Salem       West   12380          31
37    Pennsylvania        PA      Harrisburg  Northeast   49793           6
38    Rhode Island        RI      Providence  Northeast    2440          46
39  South Carolina        SC        Columbia      South   27691          15
40    South Dakota        SD          Pierre    Midwest    4476          41
41       Tennessee        TN       Nashville      South   46328           8
42           Texas        TX          Austin      South  131084           2
43            Utah        UT  Salt Lake City       West    8471          35
44         Vermont        VT      Montpelier  Northeast    1081          50
45        Virginia        VA        Richmond      South   17925          25
46      Washington        WA         Olympia       West   22596          19
47   West Virginia        WV      Charleston      South    6352          38
48       Wisconsin        WI         Madison    Midwest   18861          23
49         Wyoming        WY        Cheyenne       West    1364          49

In [5]:
crime.to_json(r'../json/crime.json', orient="records")